mat-form-field{
    background: transparent;
    width: 600px;
    margin-left: 35%; 
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
    border-color: #D0D6D0;
    color: #D0D6D0;
    border-width: 1px;
  } 

  mat-list-option{
    color: #D0D6D0;
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
  }

  .searchItems{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    color: #949494;
  }

  .hidebutton{
    visibility: hidden;
  }