mat-form-field{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
    border-radius: 15px;
    border-style: solid;
    border-color: #f5f5f5;
    border-width: thick;
    background-color: whitesmoke;
  } 

  mat-list{
    max-height: 200px;
    overflow: auto;
    color:#414241;
    border-radius: 12px;
  }

  mat-list-item{
    font-family: 'Raleway', sans-serif;
    font-size: 12px; 
    color: #414241;
    border-color: #D0D6D0;
    border-width: 1px;
  }


