.navbar-header {
  background: #414241;
}

.navbar-button {
  background: #D0D6D0;
}

.mainlogo {
  padding-left: 30px;
  padding-right: 40px;
  color: #C5C6C5;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

img {
  margin-right: 40%;
}

.highlightaccess{
  color: violet;
  font-size: smaller;
}


.header-options-left{
  padding-left: 30px;
  padding-top: 5px;
  color: #C5C6C5;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.header-options-left-map{
  padding-left: 30px;
  padding-top: 5px;
  color: #919c91;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.header-version{
  padding-left: 30px;
  padding-top: 5px;
  color: #919c91;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

mat-spinner {
  margin: auto;
}


::ng-deep div.mat-menu-panel {
  min-width: 112px;
    /** set width to 500px */
  max-width: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
}
::ng-deep button.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 12px;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  /** set line height to desired height */
  line-height: 78px;
  /** set height to auto */
  height: auto;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
}

.hover-class2:hover {
  background-color: violet;
}
.hover-class3:hover {
  background-color: violet;
}

.hover-class2 {
  background:#919c91;
}

.hover-class3 {
  background:#919c91;
}

ul {
  display: flex;
}
.spacer{
  flex: 1 1 auto;
}

.mat-badge-content{
  color : whitesmoke;
}

ul{
  list-style:none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.header-items-style {
  cursor:pointer;
}
mat-form-field{
  background: transparent;
  width: 600px;
  margin-left: 35%; 
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px; 
  border-color: #D0D6D0;
  color: #D0D6D0;
  border-width: 1px;
} 

.notificationstitle {
  font-family: 'Raleway', sans-serif;
  color: #94aa94;
  text-align: center;
  font-size: 22px;
  word-wrap: break-word;
}